@import org.iatoki.judgels.jerahmeel.JerahmeelProperties
@import org.iatoki.judgels.jerahmeel.Archive
@import org.iatoki.judgels.jerahmeel.Curriculum
@import org.iatoki.judgels.jerahmeel.controllers.routes

@(curriculums: List[Curriculum], archives: List[Archive])

<div class="well">
    @Html(JerahmeelProperties.getInstance.getJerahmeelWelcomeMessage)
</div>

@for(curriculum <- curriculums) {
    <div class="panel panel-default">
        <div class="panel-body clearfix">
            <a href="@routes.TrainingCourseController.viewCourses(curriculum.getId)" class="panel-title">@curriculum.getName</a>
            @if(!curriculum.getDescription.isEmpty) {
                <hr />
                <div class="small">
                    @Html(curriculum.getDescription)
                </div>
            }
        </div>
    </div>
}

@for(archive <- archives) {
    <div class="panel panel-default">
        <div class="panel-body clearfix">
            <a href="@routes.ArchiveController.viewArchives(archive.getId)" class="panel-title">@archive.getName</a>
            @if(!archive.getDescription.isEmpty) {
                <hr />
                <div class="small">
                    @Html(archive.getDescription)
                </div>
            }
        </div>
    </div>
}
