@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.table.paginationView
@import org.iatoki.judgels.play.Page
@import org.iatoki.judgels.jerahmeel.Curriculum
@import org.iatoki.judgels.jerahmeel.controllers.routes

@(pageOfCurriculums: Page[Curriculum], orderBy: String, orderDir: String, filterString: String)

<div class="well">
    @Messages.get("training.welcome")
</div>

@for(curriculum <- pageOfCurriculums.getData) {
    <div class="panel panel-default">
        <div class="panel-body clearfix">
            <a href="@routes.TrainingController.jumpToCourses(curriculum.getId)" class="panel-title">@curriculum.getName</a>
        </div>
    </div>
}

@paginationView(pageOfCurriculums, orderBy, orderDir, filterString, routes.TrainingCurriculumController.listCurriculums)