@(page: org.iatoki.judgels.commons.Page[org.iatoki.judgels.jerahmeel.Curriculum], orderBy: String, orderDir: String, filterString: String)

@import org.iatoki.judgels.jerahmeel.controllers.routes

@import org.iatoki.judgels.commons.views.html.table.paginationView

@for(curriculum <- page.getData) {
    <div class="panel panel-default">
        <div class="panel-body clearfix">
            <a href="@routes.TrainingController.jumpToCourses(curriculum.getId)" class="panel-title">@curriculum.getName</a>
        </div>
    </div>
}

@paginationView(page, orderBy, orderDir, filterString, routes.TrainingCurriculumController.listCurriculums)