@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.table.tableView
@import org.iatoki.judgels.play.views.html.table.tableHeadersView
@import org.iatoki.judgels.play.views.html.table.paginationView
@import scala.collection.JavaConversions
@import org.iatoki.judgels.jerahmeel.controllers.routes
@import org.iatoki.judgels.play.IdentityUtils
@import org.iatoki.judgels.play.JudgelsPlayUtils
@import org.iatoki.judgels.jerahmeel.services.impls.JidCacheServiceImpl
@import org.iatoki.judgels.play.Page
@import org.iatoki.judgels.sandalphon.BundleSubmission

@(pageOfBundleSubmissions: Page[BundleSubmission], sessionJidToNameMap: Map[String, String], pageIndex: Long, orderBy: String, orderDir: String)

@listFunc(newPageIndex: scala.Long, newOrderBy: String, newOrderDir: String, newFilterString: String) = @{routes.BundleSubmissionController.listSubmissions(newPageIndex, newOrderBy, newOrderDir)}

<div class="clearfix"></div>

<br />

@tableView() {
    @tableHeadersView(pageOfBundleSubmissions.getPageIndex, orderBy, orderDir, "", listFunc)(
        "id" -> Messages.get("commons.id"),
        "" -> Messages.get("submission.chapterOrProblemSet"),
        "" -> Messages.get("submission.prob"),
        "" -> Messages.get("submission.pts"),
        "timeCreate" -> Messages.get("submission.time")
    )

    <tbody>
        @defining(JidCacheServiceImpl.getInstance().getDisplayNames(JavaConversions.seqAsJavaList(pageOfBundleSubmissions.getData.map(s => s.getProblemJid).toSeq))) { problemDisplayNamesMap =>
            @for(submission <- pageOfBundleSubmissions.getData) {
                <tr>
                    <td><small>@submission.getId</small></td>
                    <td><small>@sessionJidToNameMap.get(submission.getContainerJid)</small></td>
                    <td><small>@problemDisplayNamesMap.get(submission.getProblemJid)</small></td>
                    <td><small>@submission.getLatestScore</small></td>
                    <td><small><time class="display-time" datetime="@JudgelsPlayUtils.formatISOUTCDateTime(submission.getTime.getTime)">@JudgelsPlayUtils.formatDetailedDateTime(submission.getTime.getTime)</time></small></td>
                    <td class="text-center">
                        @if(submission.getAuthorJid.equals(IdentityUtils.getUserJid)) {
                            <a href="@routes.BundleSubmissionController.viewOwnSubmission(submission.getId)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
}

@paginationView(pageOfBundleSubmissions, orderBy, orderDir, "", listFunc)
