@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.jerahmeel.forms.CourseUpsertForm
@import org.iatoki.judgels.jerahmeel.controllers.routes

@(courseUpsertForm: Form[CourseUpsertForm], courseId: Long)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@formErrorView(courseUpsertForm)

@b3.form(routes.CourseController.postUpdateCourseGeneral(courseId)) {

    @helper.CSRF.formField

    @upsertCourseView(courseUpsertForm)

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.update") }
}
