@import org.iatoki.judgels.play.Page
@import org.iatoki.judgels.jerahmeel.Archive
@import org.iatoki.judgels.jerahmeel.ProblemSet

@(currentArchive: Archive, childArchives: List[Archive], pageOfProblemSets: Page[ProblemSet], orderBy: String, orderDir: String, filterString: String)

<div class="well">
    @Html(currentArchive.getDescription)
</div>


@if(!childArchives.isEmpty) {
    @listArchivesView(currentArchive, childArchives)
}

@if(!pageOfProblemSets.getData.isEmpty) {
    @listProblemSetsView(currentArchive, pageOfProblemSets, orderBy, orderDir, filterString)
}
