@import play.i18n.Messages
@import org.iatoki.judgels.play.JudgelsPlayUtils
@import org.iatoki.judgels.jerahmeel.controllers.routes
@import org.iatoki.judgels.jerahmeel.Archive
@import org.iatoki.judgels.jerahmeel.services.impls.JidCacheServiceImpl

@(currentArchive: Archive, childArchives: List[Archive])

@for(archive <- childArchives) {
    <div class="panel panel-default">
        <div class="panel-body clearfix">
            <a href="@routes.ArchiveController.viewArchives(archive.getId)" class="panel-title">@archive.getName</a>
            @if(!archive.getDescription.isEmpty) {
                <hr class="training-divider"/>
                <div class="small">
                    @Html(archive.getDescription)
                </div>
            }
        </div>
    </div>
}
