@(form: Form[org.iatoki.judgels.jerahmeel.CurriculumUpsertForm])

@import play.i18n.Messages
@import org.iatoki.judgels.commons.views.html.formErrorView

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@formErrorView(form)

@b3.form(org.iatoki.judgels.jerahmeel.controllers.routes.CurriculumController.postCreateCurriculum()) {

    @helper.CSRF.formField

    @upsertCurriculumView(form)

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.create") }
}
