@import play.i18n.Messages
@import scala.collection.JavaConversions
@import org.iatoki.judgels.jerahmeel.SubmissionEntry
@import org.iatoki.judgels.jerahmeel.services.impls.JidCacheServiceImpl
@import org.iatoki.judgels.play.JudgelsPlayUtils

@(submissionEntries: List[SubmissionEntry])

<div class="box clearfix">
    <div class="col-md-12">
        <h4>@Messages.get("widget.submission")</h4>
        <table class="table table-condensed">
            <tr>
                <th><small>@Messages.get("widget.submission.author")</small></th>
                <th><small>@Messages.get("widget.submission.problem")</small></th>
                <th><small>@Messages.get("widget.submission.score")</small></th>
            </tr>
            @defining(JidCacheServiceImpl.getInstance().getDisplayNames(JavaConversions.seqAsJavaList(submissionEntries.map(s => s.getAuthorJid).toSeq))) { userDisplayNamesMap =>
                @defining(JidCacheServiceImpl.getInstance().getDisplayNames(JavaConversions.seqAsJavaList(submissionEntries.map(s => s.getProblemJid).toSeq))) { problemDisplayNamesMap =>
                    @for((submissionEntry, i) <- submissionEntries.zipWithIndex) {
                        @if(i < 5) {
                            <tr>
                                <td><small>@userDisplayNamesMap.get(submissionEntry.getAuthorJid)</small></td>
                                <td><small>@problemDisplayNamesMap.get(submissionEntry.getProblemJid)</small></td>
                                <td><small>@submissionEntry.getScore</small></td>
                            </tr>
                        }
                    }
                }
            }
        </table>
        @if(!submissionEntries.isEmpty) {
            <small>@Messages.get("widget.submission.lastSubmitted") <time class="display-time" datetime="@JudgelsPlayUtils.formatISOUTCDateTime(submissionEntries.get(0).getTime)">@JudgelsPlayUtils.formatDetailedDateTime(submissionEntries.get(0).getTime)</time></small>
        }
    </div>
</div>
