@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.jerahmeel.forms.CurriculumCourseUpdateForm
@import org.iatoki.judgels.jerahmeel.controllers.routes

@(curriculumCourseUpdateForm: Form[CurriculumCourseUpdateForm], curriculumId: Long, curriculumCourseId: Long)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@formErrorView(curriculumCourseUpdateForm)

@b3.form(routes.CurriculumCourseController.postUpdateCourse(curriculumId, curriculumCourseId)) {

    @helper.CSRF.formField

    @b3.text(curriculumCourseUpdateForm("alias"), '_label -> Messages.get("course.alias"), 'class -> "form-control")

    @b3.checkbox(curriculumCourseUpdateForm("completeable"), '_label -> Messages.get("course.completeable"))

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.update") }
}
