@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.table.paginationView
@import org.iatoki.judgels.play.Page
@import org.iatoki.judgels.jerahmeel.controllers.routes
@import org.iatoki.judgels.jerahmeel.JerahmeelUtils
@import org.iatoki.judgels.jerahmeel.CurriculumCourseWithProgress
@import org.iatoki.judgels.jerahmeel.CourseProgress

@(curriculumId: Long, pageOfCurriculumCoursesWithProgress: Page[CurriculumCourseWithProgress], orderBy: String, orderDir: String, filterString: String)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@listFunc(newPageIndex: scala.Long, newOrderBy: String, newOrderDir: String, newFilterString: String) = @{routes.TrainingCourseController.listCourses(curriculumId, newPageIndex, newOrderBy, newOrderDir)}

@for(curriculumCourseWithProgress <- pageOfCurriculumCoursesWithProgress.getData()) {
    <div class="panel panel-default">
        <div class="panel-body clearfix">
            <a href="@routes.TrainingSessionController.viewSessions(curriculumId, curriculumCourseWithProgress.getCurriculumCourse.getId)" class="panel-title">
                @{curriculumCourseWithProgress.getCurriculumCourse.getAlias}. @curriculumCourseWithProgress.getCurriculumCourse.getCourseName
            </a>
            <div class="pull-right">
                @if(curriculumCourseWithProgress.getCourseProgress.equals(CourseProgress.LOCKED)) {
                    <span class="alert alert-danger">
                        @Messages.get("training.course.locked") [- / @curriculumCourseWithProgress.getTotalSessions]
                    </span>
                } else {
                    @if(curriculumCourseWithProgress.getCourseProgress.equals(CourseProgress.COMPLETED)) {
                        <span class="alert alert-success">
                            @Messages.get("training.course.completed")
                            [@curriculumCourseWithProgress.getCompletedSessions / @curriculumCourseWithProgress.getTotalSessions]
                        </span>
                    } else {
                        @if(curriculumCourseWithProgress.getCourseProgress.equals(CourseProgress.IN_PROGRESS)) {
                            <span class="alert alert-info">
                                @Messages.get("training.course.inProgress")
                                [@curriculumCourseWithProgress.getCompletedSessions / @curriculumCourseWithProgress.getTotalSessions]
                            </span>
                        } else {
                            <span class="alert alert-warning">
                                @Messages.get("training.course.available")
                                [@curriculumCourseWithProgress.getCompletedSessions / @curriculumCourseWithProgress.getTotalSessions]
                            </span>
                        }
                    }
                }
            </div>
        </div>
    </div>
}

@paginationView(pageOfCurriculumCoursesWithProgress, orderBy, orderDir, filterString, listFunc)